@import "./Variable.scss";

.cardProjek {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $gray600;
  transition: $transSlowlyIn;
  overflow: hidden;
  box-shadow: 0 0 0 5px rgba($color: $gray100, $alpha: 0.2);

  .projekTitle {
    @include coloumn();
    align-items: center;
    width: 100%;
    h1 {
      color: $gray100;
      font-size: $fontL;
      font-family: $fontPoiret;
      margin-bottom: 7px;
    }

    img {
      @include maxWH();
      transition: $transFastIn;
    }
  }

  .projekDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: $transSlowlyIn;
    width: 20%;

    .iconLeft {
      @include coloumn();
      align-items: center;
      justify-content: center;
      width: 0;
      height: 100%;
      font-size: 0;
      transition: $transMediumIn;
      background-color: $gray300;
      span {
        height: 0;
        width: 0;
        padding: 0;
        font-size: 0;
        margin: 0;
        transition: $transMediumOut;
      }
    }

    .iconRight {
      @include maxWH();
      @include coloumn();
      align-items: center;
      justify-content: center;
      border-radius: 0;
      background-color: $gray700;
      transition: $transMediumIn;

      .iconLink {
        display: flex;
      }

      span {
        @include hw60();
        font-size: 3rem;
        margin: 5px 0;
        color: $gray400;
        transition: $transMediumIn;
      }

      .html {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #ebebeb;
          color: #e34c26;
          transition: $transMediumOut;
        }
      }

      .expressJs {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #ebebeb;
          color: #000000;
          transition: $transMediumOut;
        }
      }

      .javaScript {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #f0db4f;
          color: #323330;
          transition: $transMediumOut;
        }
      }

      .nodeJs {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #233056;
          color: #026e00;
          transition: $transMediumOut;
        }
      }

      .reactJs {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #20232a;
          color: #61dafb;
          transition: $transMediumOut;
        }
      }

      .github {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #161b22;
          color: #f0f6fc;
          transition: $transMediumOut;
        }
      }

      .firefox {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #08204e;
          color: #80ebff;
          transition: $transMediumOut;
        }
      }

      .tailwind {
        &:hover {
          @include hw60();
          border-radius: 50%;
          background-color: #ffffff;
          color: #7dd3fc;
          transition: $transMediumOut;
        }
      }
    }
    p {
      color: $gray100;
      font-size: 0;
      transition: 0.7s;
    }
  }
}

.modalProjek {
  width: 100%;
  height: 400px;
  border-radius: 7px;
  overflow: hidden;
  transition: $transSlowlyOut;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: $gray600;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);

  .projekTitle {
    @include coloumn();
    align-items: center;
    width: 75%;
    h1 {
      font-size: $fontL;
      font-family: $fontPoiret;
      color: $gray100;
      margin-bottom: 7px;
    }

    img {
      @include maxWH();
      transition: $transSlowlyOut;
    }
  }

  .projekDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: $transSlowlyOut;

    .iconLeft {
      background-color: $gray700;
      width: 50%;
      height: 100%;
      @include coloumn();
      align-items: center;
      justify-content: center;
      transition: $transMediumIn;

      span {
        @include hw50();
        font-size: 2.5rem;
        color: $gray500;
        margin: 10px 0;
        transition: $transMediumOut;
      }

      .html {
        @include hw50();
        border-radius: 50%;
        background-color: #ebebeb;
        color: #e34c26;
        transition: $transMediumOut;
      }
      .css {
        @include hw50();
        border-radius: 50%;
        background-color: #ebebeb;
        color: #2965f1;
        transition: $transMediumOut;
      }
      .javaScript {
        @include hw50();
        border-radius: 50%;
        background-color: #f0db4f;
        color: #323330;
        transition: $transMediumOut;
      }
      .bootstrap {
        @include hw50();
        border-radius: 50%;
        background-color: #712cf9;
        color: #ffffff;
        transition: $transMediumOut;
      }
      .postgre {
        @include hw50();
        border-radius: 50%;
        background-color: #336791;
        color: #ffffff;
        transition: $transMediumOut;
      }
      .reactJs {
        @include hw50();
        border-radius: 50%;
        background-color: #20232a;
        color: #61dafb;
        transition: $transMediumOut;
      }
      .sass {
        @include hw50();
        border-radius: 50%;
        background-color: #ffffff;
        color: #bf4080;
        transition: $transMediumOut;
      }
      .mySql {
        @include hw50();
        border-radius: 50%;
        background-color: #0074a3;
        color: #ffffff;
        transition: $transMediumOut;
      }
      .framer {
        @include hw50();
        border-radius: 50%;
        background-color: #ffffff;
        color: #000000;
        transition: $transMediumOut;
      }
      .sequelize {
        @include hw50();
        border-radius: 50%;
        background-color: #ffffff;
        color: #3b76c3;
        transition: $transMediumOut;
      }
      .socket {
        @include hw50();
        border-radius: 50%;
        background-color: #ffffff;
        color: #000;
        transition: $transMediumOut;
      }
    }

    .iconRight {
      @include maxWH();
      @include coloumn();
      align-items: center;
      justify-content: center;
      border-radius: 0 50% 50% 0;
      background-color: $gray700;
      transition: $transMediumIn;

      .iconLink {
        display: flex;
      }

      span {
        @include hw70();
        font-size: $fontXL;
        color: $gray400;
        margin: 5px 0;
        transition: $transMediumIn;
      }

      .html {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #ebebeb;
          color: #e34c26;
          transition: $transMediumOut;
        }
      }
      .expressJs {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #ebebeb;
          color: #000000;
          transition: $transMediumOut;
        }
      }

      .javaScript {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #f0db4f;
          color: #323330;
          transition: $transMediumOut;
        }
      }

      .nodeJs {
        &:hover {
          @include hw70();
          background-color: #233056;
          border-radius: 50%;
          color: #026e00;
          transition: $transMediumOut;
        }
      }

      .reactJs {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #20232a;
          color: #61dafb;
          transition: $transMediumOut;
        }
      }

      .github {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #161b22;
          color: #f0f6fc;
          transition: $transMediumOut;
        }
      }

      .firefox {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #08204e;
          color: #80ebff;
          transition: $transMediumOut;
        }
      }
      .tailwind {
        &:hover {
          @include hw70();
          border-radius: 50%;
          background-color: #ffffff;
          color: #7dd3fc;
          transition: $transMediumOut;
        }
      }
    }

    p {
      margin: 0 20px;
      font-size: 1.5rem;
      color: $gray100;
      text-align: justify;
      font-family: $fontPoppins;
      transition: $transSlowlyIn;
    }
  }
}

.cardStoryLeft {
  @include maxWH();
  h1 {
    background-color: $gray400;
    @include titleMedium();
    span {
      color: $gray000;
      margin: 0 10px;
    }
  }
  div {
    @include coloumn();
    margin-top: 1rem;

    p {
      margin: 10px 0 10px 3%;
      width: 95%;
      @include paragraf();
    }
    p:nth-child(2) {
      margin: 10px 0 10px 5%;
    }
  }
}

.cardStoryRight {
  @include maxWH();

  h1 {
    border-bottom: 3px solid $gray400;
    text-align: right;
    @include titleMedium();

    span {
      color: $gray000;
      margin: 0 10px;
    }
  }
  div {
    margin-top: 1rem;
    p {
      width: 95%;
      @include paragraf();
    }
  }
}

.cardSkill {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  @include coloumn();
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba($color: $gray500, $alpha: 0.5);
  transition: $transSlowlyOut;

  .cardSkillTop {
    @include coloumn();
    gap: 1rem;
    width: 350px;
    height: 150px;
    padding: 20px;
    align-items: center;
    transition: $transMediumOut;
    background-color: rgba($color: $gray300, $alpha: 0.4);
    cursor: default;
    .skillTopTitle {
      font-size: $fontLX;
      text-align: center;
      background-color: transparent;
      font-family: $fontMajor;
      color: $gray000;
      text-shadow: 0 0 5px rgba($color: $gray800, $alpha: 1);
    }
    .skillTopIcons {
      font-size: $fontL;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      transition: $transFastOut;

      span {
        color: $gray001;
        @include hw50();
        padding: 9px;
        background-color: rgba($color: $gray000, $alpha: 1);
        border-radius: 100%;
        transition: $transFastIn;

        &:hover {
          color: $gray100;
          background-color: $gray001;
          transition: $transFastOut;
        }
      }
    }

    &:hover {
      background-color: rgba($color: $gray300, $alpha: 0.6);
      transition: $transSlowOut;
    }
  }
  .cardSkillDesc {
    background-color: rgba($color: $gray000, $alpha: 0.7);
    font-size: 1.1em;
    padding: 15px;
    text-align: justify;
    color: $gray700;
    font-family: $fontPoppins;
    transition: $transSlowlyOut;
    cursor: pointer;

    p:nth-child(2),
    p:nth-child(3) {
      font-size: 0;
      transition: $transSlowlyOut;
    }

    &:hover {
      background-color: rgba($color: $gray200, $alpha: 0.9);
      transition: $transSlowOut;
    }
  }
}

.modalSkill {
  width: 100%;
  height: 800px;
  border-radius: 7px;
  @include coloumn();
  overflow: auto;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  transition: $transSlowlyIn;

  .cardSkillTop {
    @include coloumn();
    gap: 1rem;
    width: 400px;
    height: 170px;
    padding: 30px;
    align-items: center;
    background-color: rgba($color: $gray300, $alpha: 0.7);
    transition: $transMediumIn;
    .skillTopTitle {
      font-size: $fontLX;
      background-color: transparent;
      font-family: $fontMajor;
      color: $gray000;
      text-shadow: 0 0 5px rgba($color: $gray800, $alpha: 1);
    }
    .skillTopIcons {
      font-size: $fontL;
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      color: $gray001;
      transition: $transFastIn;

      span {
        width: 50px;
        height: 50px;
        padding: 10px;
        background-color: rgba($color: $gray000, $alpha: 1);
        border-radius: 100%;

        &:hover {
          color: $gray100;
          background-color: $gray001;
          transition: $transFastIn;
        }
      }
    }
  }
  .cardSkillDesc {
    background-color: rgba($color: $gray000, $alpha: 0.7);
    font-size: 1.1em;
    padding: 15px;
    text-align: justify;
    color: $gray700;
    font-family: $fontPoppins;
    transition: $transSlowlyIn;
    cursor: pointer;
    p:nth-child(2),
    p:nth-child(3) {
      font-size: 1.1em;
      transition: $transSlowlyIn;
    }

    &:hover {
      background-color: rgba($color: $gray200, $alpha: 0.9);
      transition: $transSlowOut;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .cardStoryLeft {
    h1 {
      font-size: 2.5em;
    }
    div {
      p {
        width: 100%;
        font-size: 1.1em;
        margin: 0;
        padding: 0 10px;
      }
      p:nth-child(2) {
        margin: 0;
      }
    }
  }

  .cardProjek {
    width: 100%;

    .iconRight {
      span {
        @include hw50();
        font-size: 2.5rem;
      }

      .html,
      .javaScript,
      .nodeJs,
      .reactJs,
      .github,
      .firefox {
        &:hover {
          @include hw50();
        }
      }
    }
  }

  .modalProjek {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .projekTitle {
      @include coloumn();
      align-items: center;
      width: 100%;
      h1 {
        font-size: $fontL;
        font-family: $fontPoiret;
        color: $gray100;
        margin-bottom: 7px;
      }

      img {
        @include maxWH();
        transition: $transSlowlyOut;
      }
    }

    .projekDesc {
      flex-direction: column;

      .iconRight {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border-radius: 0;

        .iconLink {
          display: flex;
        }

        span {
          @include hw60();
          font-size: $fontLX;
        }
        .html,
        .javaScript,
        .nodeJs,
        .reactJs,
        .github,
        .firefox {
          &:hover {
            @include hw60();
          }
        }
      }

      p {
        margin: 10px;
        font-size: 1.1rem;
      }
    }
  }

  .skillTopTitle {
    font-size: $fontL;
  }
}
